* {
    text-decoration: none;
    margin:0;
    padding:0;
}

.wrapper {
    position: relative;
    left: 30%;
    top: 50%;
    width: 500px;
    height: 400px;
    padding-top: 75px;
    margin-top: 175px;
    border: 3px solid darkcyan;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.start-time {
    width: 40%;
    background-color:darkcyan;
    font-size: 30px;
}

.questions {
    margin: 20px;
}

.questions p {
    padding-top: 40px;
    width: 75%;
    text-align: center;
    margin-left: 50px;
}

.go-back {
    background-color: darkcyan;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    top: 66%;
    left: 50%;
    width: 150px;
    text-align: center;
}

.clear {
    background-color: darkcyan;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    top: 66%;
    left: 15%;
    height: 57px;
    text-align: center;
}

textarea {
    width: 90%;
    margin: 20px;
}

.submit {
    background-color: darkcyan;
    margin-left: 33%;
    padding: 15px 30px;
    font-size: 25px;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 2px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: darkcyan;
    margin-top: 10px;
    padding: 10px 20px;
    width: 75%;
    font-size: 18px;
    color: white;
}

