* {
    text-decoration: none;
    margin:0;
    padding:0;
}

.wrapper {
    position: relative;
    left: 30%;
    top: 50%;
    width: 500px;
    height: 375px;
    padding-top: 40px;
    margin-top: 150px;
    border: 2px solid darkcyan;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.start-time {
    width: 40%;
    background-color:darkcyan;
    font-size: 25px;
    color: black;
}

.questions {
    margin: 20px;
}

.questions p {
    padding-top: 40px;
    width: 75%;
    text-align: center;
    margin-left: 50px;
}

.current-time {
    float: right;
}

.go-back {
    background-color: darkcyan;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    color: white;
    top: 66%;
    left: 50%;
    width: 150px;
    text-align: center;
}

.clear {
    background-color: darkcyan;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 66%;
    left: 15%;
    height: 57px;
    text-align: center;
}

.button {
    border-radius: 8px;
} 

textarea {
    width: 90%;
    margin: 20px;
}

.submit {
    background-color: darkcyan;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 2px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: darkcyan;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

.create {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

/* Media Queries */
@media screen and (max-width: 750px) {

body {
    max-width: 786px;
}

.wrapper {
    position: absolute;
    left: 20%;
}

a {
margin-left: 20%;
}

.go-back {
    
    position: relative;
    left: 55%;
}

.clear {
    
    position: relative;
    right: 5%;
    
}
}

/* Media Query */
@media screen and (max-width: 650px) {
body {
    min-width: 640px;
}

.wrapper {
position: absolute;
left: 10%;
}

a {
  margin-left: 10%;
}

}